#background1 {
    position:fixed;
    background-image: url("Resources/background1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    left:0;
    top:0;

}

.header1 {
    position: relative;
}

.generaltext {
    font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 color: white;
 font-size: 45px;
}

h1 {
    font-family: 'Archivo', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 120px;
}

body,html{
    margin:0;
    padding: 0;
}


