#headerwrapper
{
    width: 100%;
    margin: 0;
    float:top;
}

#logowrapper {
    width: 5%;
    margin: 0;
    float: left;
}

#logodiv
{
    width: 2.5%;
    margin: 0;
    float: left;
}

#titlediv
{
    width: 2.5%;
    margin: 0;
    float: right;
    padding-right: .5%;
}

#demodiv
{
    width: 3%;
    margin: 0;
    float: right;
    padding-right: 10%;
    padding-top: 20px;
}

#aboutdiv
{
    width: 3%;
    margin: 0;
    float: right;
    padding-right: 5%;
    padding-top: 20px;
}

#footerwrapper
{
    width: 100%;
    height: 10%;
    background: gray;
    float: bottom;
}

.header 
{
    /*background: ; */
    background-image: linear-gradient(to bottom right ,#2a6f2a, #227722, #1b7e1b);
    height: 80px;
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding: 0;
}

.logo
{
    padding-top: 10px;
    padding-left: 10px;
    height: 60px;
    width: 60px;
    margin: 0;
}

.title
{
    font-size: 18px;
    padding-top: 20px;
    text-shadow: -1px -1px 0px pink, -1px -1px 10px black;
    font-family: "Optima", "Arial", sans-serif; 
    color: black;
}

body,html{
    height: 100%;

}

.bg {

    background-image: url('41212.jpg');
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}


